<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ms.api.dao.ProductMapper">
	<!-- 
	public int insert(T value, GK generatedKey);
	public int updateByPrimaryKey(P primaryKey, T value);
	public int updateByIndex(I index, T value);
	public int deleteByPrimaryKey(P primaryKey);
	public int deleteByIndex(I index);
	public int deleteAll();
	public T selectRowByPrimaryKey(P primaryKey);
	public T selectRowByIndex(I index);
	public List<T> selectRowsByIndex(I index);
	-->
	<insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="value.id">
		INSERT INTO PRODUCTS (name, description, price)
			VALUES (#{value.name}, #{value.description}, #{value.price})
	</insert>
	<select id="selectAll" resultType="Product">
		SELECT * FROM PRODUCTS
	</select>
	<delete id="deleteAll">
		DELETE FROM PRODUCTS
	</delete>
</mapper>